
<div class="container">
    <div class="details-row" *ngIf="image">
        <div class="btn-group">
            <button class="btn-white" (click)="openModal(image)">Add to album</button>
            <button class="btn-black" (click)="download()">Download</button>
        </div>
        <div class="image">
            <img [src]="image.download_url" />
        </div>
        <div class="image-details">
            <button class="btn-white m-top30" (click)="goBack()">Go back</button>
        </div>
    </div>
</div>

<app-modal #modal></app-modal>