header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 600;
    opacity: 1;
}

header a{
    margin: auto;
}

.nav-wrap {
    position: relative;
    text-align: center;
}

.nav-left {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav-logo {
    margin: auto;
}

.logo {
    width: 127px;
    height: 25px;
    background: transparent;
}





