<header class="navbar">
  <div class="container nav-wrap">
    <div class="nav-logo">
      <a href="#">
        <img class="logo" src="assets/sitelogo.png" width="30" height="30" alt="">
      </a>
    </div>
    <div class="nav-left">
      <button class="border-white btn-black" (click)="openList()">My albums</button>
      <div class="dropdown-list" *ngIf="list">
          <ul *ngFor="let album of albums">
            <li routerLink="gallery/album/{{album.id}}">{{ album.name }}</li>
          </ul>
      </div>
    </div>
  </div>
</header>
