<section class="container">
    <div class="album-row">
        <section class="title">
            <p>{{ album.name }}</p>
            <p class="title-date">Date created: {{ album.date | date:'longDate' }}</p>
        </section>
        <section  class="pin-album">
            <div *ngFor="let image of album.images" class="pin-item">
                <figure>
                    <img  class="image" [src]="image.thumbnail_url" />
                </figure>                
            </div>    
        </section>
        <section class="album-footer">
            <button class="btn-white m-top30" (click)="goBack()">Go back</button>
            <button class="btn-black m-top30">Save</button>
        </section>
    </div>
</section>