<main infinite-scroll
[infiniteScrollDistance]="distance"
[infiniteScrollThrottle]="throttle"
(scrolled)="onScroll()"
 class="container">
<section class="pin-container">
    <figure *ngFor="let image of images" class="pin-item">
        <img routerLink="details/{{image.id}}" class="image" [src]="image.thumbnail_url" />
        <div class="btn-hover">          
          <div class="btn-text" (click)="openModal(image)">Add to album</div>
        </div>
      </figure>    
</section>
</main>

<app-modal #modal></app-modal>

