/* You can add global styles to this file, and also import other style files */
@import "@fontsource/lexend-deca";

body {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    letter-spacing: 0px;
    font-family: "Lexend Deca";
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
}

.main-row {
    margin-top: 30px;
}

.btn-white {
    color: black;
    background-color: white;
    border: 2px solid black;
    min-width: 140px;
    height: 30px;
    font-family: "Lexend Deca";
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.btn-white:hover{
    background-color: black;
    color: white;
}

.btn-black {
    background-color: black;
    color: white;
    border: 2px solid black;
    min-width: 140px;
    height: 30px;
    font-family: "Lexend Deca";
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
}

.border-white{
    border: 2px solid white;
}

.dropdown-list {
    position: absolute;
    min-width: 140px;
    border: 2px solid black;
    color: #9D9D9D;
    margin-top: 25px;
    box-shadow: 0px 3px 6px #00000029;;
    background-color: white;
}

.dropdown-list ul {
    text-align: center;
    list-style: none;
    padding: 0;
    cursor: pointer;

}

.dropdown-list li:hover {
    color: black;
}

.m-top30 {
    margin-top: 30px;
}



@media screen and (max-width: 1199px) {
    .container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 800px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 550px;
    }

    .pin-album{

    }
}

@media screen and (max-width: 550px) {
    .container {
        max-width: 300px;
    }
}