<div #myModal class="modal-container">
    <div class="content">
        <div class="tab">
            <ul class="nav-pills">
                <li class="nav-item" [ngClass]="{'active': tabId === 'newAlbum'}" id="newAlbum" (click)="tabChange('newAlbum')">Create new album</li>
                <li class="nav-item" [ngClass]="{'active': tabId !== 'newAlbum'}" id="existingAlbum" (click)="tabChange('existingAlbum')">Add to existing</li>
            </ul>

            <div class="tab-content">
                <div class="content-value" *ngIf="tabId === 'newAlbum'">
                    <form [formGroup]="formData" >
                      <input class="modal-input" [(ngModel)]="albumTitle" formControlName="albumName" placeholder="Enter title here">
                    <div class="nav-button">
                        <button class="btn-white" (click)="close()">Cancel</button>
                        <button class="btn-black" (click)="save(formData.value)">Save</button>                        
                    </div>
                    </form>
                </div>
                <div class="content-value" *ngIf="tabId === 'existingAlbum'">
                    <form [formGroup]="formData" >
                      <div *ngFor="let album of albums">
                        <input class="checkbox" type="checkbox" [id]="album.id" [value]="album.id" (change)="onChange($event, album.id)" />
                        <label class="nav-item-album" [for]="album.id" >{{ album.name }}</label>
                      </div>
                      <div class="nav-button">                        
                        <button class="btn-white" (click)="close()">Cancel</button>
                        <button class="btn-black" type="button" (click)="insertImageToAlbum()" type="submit">Save</button>
                      </div>                      
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>